.container{
  width: 70%;
  margin: 0 auto;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2px;
}
.service {
  text-align: center;
  position: relative;
  margin: 40px 0;
  padding: 40px 0;
}

.service .title{
  margin-top: 4.5rem;
  margin-bottom: 20px;
}

.icon{
  color: #fff;
  width: 9rem;
  margin: 0 auto;
  position: relative;
  background: var(--main-red);
  padding: 1.75em 0 0.75em 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.icon.two {
  background: var(--main-dark-gray);
}

.icon.three::after{
  border-top: solid 2em var(--main-light-gray);
}

.icon.three {
  background: var(--main-light-gray);
}

.icon.two::after{
  border-top: solid 2em var(--main-dark-gray);
}

.icon::before{
  font-size: 4.5em;
  line-height: 1em;
  color: #fff;
}

.icon::after{
  content: '';
  position: absolute;
  bottom: -1.95em;
  left: 0;
  border-top: solid 2em #d52349;
  border-left: solid 4.5em transparent;
  border-right: solid 4.5em transparent;
}

.service section{
  text-align: center;
  //background: yellow;
}

#services .second::before{
  content: '';
  width: 32px;
  height: 100%;
  position: absolute;
  left: -24px;
  top: 0;
  display: block;
  z-index: -1;
  box-shadow: 32px 0 0 0 #fff, 0 -32px 0 0 #fff, 0 32px 0 0 #fff, 32px 32px 0 0 #fff, 32px -32px 0 0 #fff, 0 0 32px 0 rgba(0, 0, 0, 0.15);
}

#services .second::after{
  content: '';
  width: 32px;
  height: 100%;
  position: absolute;
  right: -24px;
  top: 0;
  display: block;
  z-index: -1;
  box-shadow: -32px 0 0 0 #fff, 0 -32px 0 0 #fff, 0 32px 0 0 #fff, -32px 32px 0 0 #fff, -32px -32px 0 0 #fff, 0 0 32px 0 rgba(0, 0, 0, 0.15);
}

.description{
  margin: 0 auto;
  width: 330px;
  font-weight: 300;
  color: var(--services-color);
}

.actions{
  text-align: center;
  margin: 40px 0;
}

.btn1{
  margin-right: 16px;
  min-width: 280px;
  padding: 18px 36px;
  background: var(--services-action-warning);
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}

.btn1:hover{
  background: var(--services-action-warning-hover);
}

.btn2{
  min-width: 280px;
  padding: 18px 36px;
  background: var(--services-action-black);
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}

.btn2:hover{
  background: var(--services-action-black-hover);
}
