<div id="services" class="container">
  <div class="grid">

      <div class="service">
        <section class="first">
          <div class="icon one">
            icon
          </div>
          <h2 class="title">Ipsum consequat</h2>
          <p class="description">Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
        </section>
      </div>
      <div class="service" >
        <section class="second">
          <div class="icon two">
            icon
          </div>
          <h2 class="title">Magna etiam dolor</h2>
          <p class="description">Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
        </section>
      </div>
      <div class="service">
        <section class="third">
          <div class="icon three">
            <i class="fa fa-camera-retro"></i>dd
            icon
          </div>
          <h2 class="title">Tempus adipiscing</h2>
          <p class="description">Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
        </section>
      </div>


  </div>

</div>
