<div class="container">
  <app-header />
  <app-banner/>
  <app-main-slogan/>
  <app-about/>
  <app-what-we-do/>


</div>
<div>

  continue developing the website
  the avatar should remain at the same position, having a dynamic image (where we do not know the dimensions)
  create a list of cards, where on hover we should display another image (similar to ikea).
  The hoverable image, could have a broken image.
  As such, we need to apply an error handling and stick to the main image in case of an error

</div>
