<header id="header">
  <h1 class="header-title">Dopetrope</h1>
  <nav id="nav">
    <ul class="menu">
      <li class="menu-item" [ngClass]="{'active' : selectedItem === 'home'}" (click)="setActiveMenu('home')"><a routerLink="/dopetrope">Home</a></li>
      <li class="menu-item" (mouseenter)="showMenu()"
          (mouseleave)="hideMenu()"
          (click)="toggleMenu($event)">
        <a href="#"> Dropdown</a>
        <ul class="sub-menu" [ngClass]="{'show': isMenuVisible}">
          <li class="sub-menu-item">Lorem ipsum dolor</li>
          <li class="sub-menu-item">Magna phasellus</li>
          <li class="sub-menu-item">Etiam dolore nisl</li>
          <li class="sub-menu-item has-sub-inner-menu">
            Phasellus consequat
            <ul class="sub-inner-menu">
              <li class="sub-inner-menu-item">Magna phasellus</li>
              <li class="sub-inner-menu-item">Etiam dolore</li>
              <li class="sub-inner-menu-item">Veroeros feugiat</li>
              <li class="sub-inner-menu-item">Nisl sed aliquam</li>
              <li class="sub-inner-menu-item">Dolore adipiscing</li>
            </ul>
          </li>
          <li class="sub-menu-item">Veroeros feugiat</li>
        </ul>
      </li>
      <li class="menu-item" [ngClass]="{'active' : selectedItem === 'left-side'}" (click)="setActiveMenu('left-side')"><a routerLink="/dopetrope/left-sidebar">Left Side</a></li>
      <li class="menu-item" [ngClass]="{'active' : selectedItem === 'right-side'}" (click)="setActiveMenu('right-side')"><a routerLink="/dopetrope/right-sidebar" >Right Side</a></li>
      <li class="menu-item" [ngClass]="{'active' : selectedItem === 'no-side'}" (click)="setActiveMenu('no-side')"><a routerLink="/dopetrope/no-sidebar">No Sidebar</a></li>
    </ul>
  </nav>
</header>
<router-outlet/>
