.banner-container{
  height: 50vh;
  background: #CCE8F4 url("../../../assets/images/dope/pic011.jpg") no-repeat center center / auto 100%;
  background-size: auto 100%;
  text-align: center;
  position: relative;
}

.banner{
  position: absolute;
  top: 50%;
  width: 460px;
  background: #000;
  color: #fff;
  left: 50%;
  padding: 40px 80px;
  transform: translate(-50%, -50%);
}

.banner h1 {
  font-size: 40px;
  margin-bottom: 26px;
}

.banner p {
  font-size: 24px;
  color: var(--main-red);
  font-weight: 300;
}


@media only screen and (min-width: 320px) and (max-width: 767px) {

  .banner-container{
    height: 35vh;
  }
  .banner{
    max-width: 100%;
    padding: 20px 15px;
    line-height: 30px;
    background: var(--banner-bg-color-075);
  }

  .banner h1 {
    font-size: 22px;
    margin-bottom: 6px;
  }

  .banner p {
    font-size: 17px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
