<div class="container">
  <!--  <app-header/>-->
  <div class="header">Header Component</div>
  <button class="button">Button</button>
  <div class="content">This is the title of the page and can be really biiggg</div>
</div>

=============================

<div class="container2">
  <app-items/>
  <app-items/>
  <app-items/>
  <app-items/>
  <app-items/>
  <app-items/>
  <app-items/>
  <app-items/>
  <app-items/>
  <app-items/>
  <app-items/>
  <app-items/>
  <app-items/>
  <app-items/>
  <app-items/>
  <app-items/>
  <app-items/>
  <app-items/>
  <app-items/>
  <app-items/>
</div>
