.portfolio-container{
  border-top: 1px solid var(--main-light-gray);
  padding-top: 70px;
  background-color: #f7f7f7;
}
header{
  max-width: 1350px;
  margin: 0 auto;
  padding-bottom: 50px;
}
header h2{
  font-size: 28px;
  overflow: hidden;
  text-align: center;
}

header h2:before,
header h2:after{
  content: '';
  background-color: var(--main-light-gray);
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

header h2:before{
  right: 0.5em;
  margin-left: -50%;
}

header h2:after{
  left: 0.5em;
  margin-right: -50%;
}

.projects{
  max-width: 1350px;
  margin: 0 auto;
  display: grid;
  padding: 0 20px;
  //grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
  grid-template-columns: repeat(3, 1fr);
}

.project{
  background: white;
}

.image{
  margin-bottom: 50px;
  cursor: pointer;
  width: 100%;
}
.description{
  padding: 0 30px;
}

.description h2 {
  margin-bottom: 28px;
}

.description p{
  font-weight: 300;
  color: var(--services-color);
  line-height: 2;
}

.action{
  padding: 30px;
}

.btn2{
  padding: 18px 30px;
  background: var(--services-action-black);
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  line-height: 25px;
}

.btn2:hover{
  background: var(--services-action-black-hover);
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  header{
    margin: 0 40px;
  }

  header h2{
    font-size: 22px;
  }

  .portfolio-container{
    padding-top: 50px;
  }

  .projects{
    padding: 0 40px;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }

  .btn2{
    width: 100%;
    font-size: 16px;
    padding: 11px 24px;
  }
}

@media only screen and (max-width: 767px) {
  header {
    margin: 0 30px;
    padding-bottom: 35px;
  }

  header h2 {
    font-size: 18px;
  }

  .image {
    margin-bottom: 30px;
  }

  .portfolio-container {
    padding-top: 30px;
  }

  .projects {
    padding: 0 30px;
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
  }

  .description {
    margin-bottom: 14px;
  }

  .description p{
    font-size: 14px;
  }

  .description h2 {
    font-size: 18px;
    margin-bottom: 14px;
  }

  .btn2{
    width: 100%;
    font-size: 16px;
    padding: 11px 24px;
  }
}

