<div class="portfolio-container">
  <header>
    <h2>My Portfolio</h2>
  </header>
  <div class="projects">
    <div class="project">
      <img class="image" src="assets/images/dope/pic02.jpg">
      <div class="description">
        <h2>Ipsum feugiat et dolor</h2>
        <p>
          Lorem ipsum dolor sit amet sit veroeros sed amet
          blandit consequat veroeros lorem blandit adipiscing
          et feugiat phasellus tempus dolore ipsum lorem dolore.
        </p>
      </div>
      <div class="action">
        <button class="btn2">Find out more</button>
      </div>
    </div>
    <div class="project">
      <img class="image" src="assets/images/dope/pic03.jpg">
      <div class="description">
        <h2>Sed etiam lorem nulla</h2>
        <p>
          Lorem ipsum dolor sit amet sit veroeros sed amet
          blandit consequat veroeros lorem blandit adipiscing
          et feugiat phasellus tempus dolore ipsum lorem dolore.
        </p>
      </div>
      <div class="action">
        <button class="btn2">Find out more</button>
      </div>
    </div>
    <div class="project">
      <img class="image" src="assets/images/dope/pic04.jpg">
      <div class="description">
        <h2>Consequat et tempus</h2>
        <p>
          Lorem ipsum dolor sit amet sit veroeros sed amet
          blandit consequat veroeros lorem blandit adipiscing
          et feugiat phasellus tempus dolore ipsum lorem dolore.
        </p>
      </div>
      <div class="action">
        <button class="btn2">Find out more</button>
      </div>
    </div>
    <div class="project">
      <img class="image" src="assets/images/dope/pic05.jpg">
      <div class="description">
        <h2>Blandit sed adipiscing</h2>
        <p>
          Lorem ipsum dolor sit amet sit veroeros sed amet
          blandit consequat veroeros lorem blandit adipiscing
          et feugiat phasellus tempus dolore ipsum lorem dolore.
        </p>
      </div>
      <div class="action">
        <button class="btn2">Find out more</button>
      </div>
    </div>
    <div class="project">
      <img class="image" src="assets/images/dope/pic06.jpg">
      <div class="description">
        <h2>Etiam nisl consequat</h2>
        <p>
          Lorem ipsum dolor sit amet sit veroeros sed amet
          blandit consequat veroeros lorem blandit adipiscing
          et feugiat phasellus tempus dolore ipsum lorem dolore.
        </p>
      </div>
      <div class="action">
        <button class="btn2">Find out more</button>
      </div>
    </div>
    <div class="project">
      <img class="image" src="assets/images/dope/pic07.jpg">
      <div class="description">
        <h2>Dolore nisl feugiat</h2>
        <p>
          Lorem ipsum dolor sit amet sit veroeros sed amet
          blandit consequat veroeros lorem blandit adipiscing
          et feugiat phasellus tempus dolore ipsum lorem dolore.
        </p>
      </div>
      <div class="action">
        <button class="btn2">Find out more</button>
      </div>
    </div>
  </div>
</div>
