<nav id="nav">

   <a class="ident-0 link" routerLink="/dopetrope">Home</a>
    <a href="#" class="ident-0 link"> Dropdown</a>

<!--first level nesting-->
       <a href="#" class="ident-1 link">Lorem ipsum dolor</a>
       <a href="#" class="ident-1 link">Magna phasellus</a>
        <a href="#" class="ident-1 link">Etiam dolore nisl</a>
  <!--second level nesting-->
         <a href="#" class="ident-2 link">Phasellus consequat</a>
            <a class="ident-2 link">Magna phasellus</a>
            <a class="ident-2 link">Etiam dolore</a>
            <a class="ident-2 link">Veroeros feugiat</a>
            <a class="ident-2 link">Nisl sed aliquam</a>
            <a class="ident-2 link">Dolore adipiscing</a>


        <a class="ident-1 link">Veroeros feugiat</a>


  <a class="ident-0 link" routerLink="/dopetrope/left-sidebar">Left Side</a>
  <a class="ident-0 link" routerLink="/dopetrope/right-sidebar" >Right Side</a>
  <a class="ident-0 link" routerLink="/dopetrope/no-sidebar">No Sidebar</a>
</nav>
