<div class="blog-container">
  <header>
    <h2>The Blog</h2>
  </header>
  <div class="blogs">
    <div class="blog">
      <img class="image" src="assets/images/dope/pic08.jpg" alt="">
      <div class="description">
        <span class="title">Magna tempus consequat</span>
        <span class="post-date">Posted 45 minutes ago</span>
        <p>
          Lorem ipsum dolor sit amet sit veroeros sed et blandit
          consequat sed veroeros lorem et blandit adipiscing
          feugiat phasellus tempus hendrerit, tortor vitae
          mattis tempor, sapien sem feugiat sapien, id suscipit
          magna felis nec elit. Class aptent taciti sociosqu ad
          litora torquent per conubia nostra, per inceptos lorem
          ipsum dolor sit amet.
        </p>
      </div>
      <div class="actions">
        <button class="btn1"><fa-icon [icon]="faFileAlt"></fa-icon> Continue Reading</button>
        <button class="btn2"><fa-icon [icon]="faComment"></fa-icon> 33 comments</button>
      </div>
    </div>
    <div class="blog">
      <img class="image" src="assets/images/dope/pic09.jpg" alt="">
      <div class="description">
        <span class="title">Aptent veroeros aliquam</span>
        <span class="post-date">Posted 45 minutes ago</span>
        <p>
          Lorem ipsum dolor sit amet sit veroeros sed et blandit
          consequat sed veroeros lorem et blandit adipiscing
          feugiat phasellus tempus hendrerit, tortor vitae
          mattis tempor, sapien sem feugiat sapien, id suscipit
          magna felis nec elit. Class aptent taciti sociosqu ad
          litora torquent per conubia nostra, per inceptos lorem
          ipsum dolor sit amet.
        </p>
      </div>
      <div class="actions">
        <button class="btn1"><fa-icon [icon]="faFileAlt"></fa-icon> Continue Reading</button>
        <button class="btn2"><fa-icon [icon]="faComment"></fa-icon> 33 comments</button>
      </div>
    </div>
  </div>
</div>
