.blog-container{
  padding-top: 50px;
  background-color: #f7f7f7;
}
header{
  width: 70em;
  margin: 0 auto;
  padding-bottom: 50px;
}
header h2{
  font-size: 28px;
  overflow: hidden;
  text-align: center;
}

header h2:before,
header h2:after{
  content: '';
  background-color: var(--main-light-gray);
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

header h2:before{
  right: 0.5em;
  margin-left: -50%;
}

header h2:after{
  left: 0.5em;
  margin-right: -50%;
}

.blogs{
  width: 70em;
  margin: 0 auto;
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr;
}

.blog{
  background: white;
}

.image{
  width: 100%;
  margin-bottom: 50px;
  cursor: pointer;
}

.description{
  padding: 0 30px;
}

.title{
  display: block;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.post-date{
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
}

.description p{
  font-weight: 300;
  color: var(--services-color);
  line-height: 2;
  margin-top: 28px;
}

.actions{
  padding: 30px;
}

.btn1{
  margin-right: 16px;
  padding: 14px 30px;
  background: var(--services-action-warning);
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 1.1em;
  font-weight: 700;
  cursor: pointer;
}

.btn1:hover{
  background: var(--services-action-warning-hover);
}

.btn2{
  padding: 14px 30px;
  background: var(--services-action-black);
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 1.1em;
  font-weight: 700;
  cursor: pointer;
}

.btn2:hover{
  background: var(--services-action-black-hover);
}

fa-icon{
  opacity: 0.5;
}

@media only screen and (max-width: 1280px){
  header, .blogs{
    width: calc(100% - 60px);
  }
}

@media only screen and (max-width: 1030px){
  .btn1, .btn2{
    width: 100%;
  }
  .btn1{
    margin-bottom: 12px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px){
  header h2{
    font-size: 22px;
  }

  .blogs{
    gap: 30px;
  }
}

@media only screen and (max-width: 767px){
  header h2{
    font-size: 18px;
  }
  .blogs{
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
  }
}
