<footer>
  <section>
    <div class="first-section-container">
      <div class="left-side">
        <div class="title">Blandit nisl adipiscing</div>
        <ul class="news">
          <li class="news-row">
            <span class="news-date">
              Jan <strong>27</strong>
            </span>
            <div class="news-details">
              Lorem dolor sit amet veroeros
              <span>Ipsum dolor sit amet veroeros consequat blandit ipsum phasellus lorem consequat etiam.</span>
            </div>
          </li>
          <li class="news-row">
            <span class="news-date">
              Jan <strong>23</strong>
            </span>
            <div class="news-details">
              Ipsum sed blandit nisl consequat
              <span>Blandit phasellus lorem ipsum dolor tempor sapien tortor hendrerit adipiscing feugiat lorem.</span>
            </div>
          </li>
          <li class="news-row">
            <span class="news-date">
              Jan <strong>15</strong>
            </span>
            <div class="news-details">
              Magna tempus lorem feugiat
              <span>Dolore consequat sed phasellus lorem sed etiam nullam dolor etiam sed amet sit consequat.</span>
            </div>
          </li>
          <li class="news-row">
            <span class="news-date">
              Jan <strong>12</strong>
            </span>
            <div class="news-details">
              Dolore tempus ipsum feugiat nulla
              <span>Feugiat lorem dolor sed nullam tempus lorem ipsum dolor sit amet nullam consequat.</span>
            </div>
          </li>
          <li class="news-row">
            <span class="news-date">
              Jan <strong>10</strong>
            </span>
            <div class="news-details">
              Blandit tempus aliquam?
              <span>Feugiat sed tempus blandit tempus adipiscing nisl lorem ipsum dolor sit amet dolore.</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="right-side">
        <div class="title">What's this all about?</div>
        <img class="image" src="assets/images/dope/pic10.jpg" alt="">
        <div class="description">
          This is <span class="brand">Dopetrope</span> a free, fully responsive HTML5 site template by
          <a href="https://x.com/ajlkn" target="_blank">AJ</a> for
          <a href="https://html5up.net/dopetrope" target="_blank">HTML5 UP</a>  It's released for free under the
          <a href="https://html5up.net/license" target="_blank"> Creative Commons Attribution</a> license so feel free to use it for any personal or commercial project – just don't forget to credit us!
        </div>
        <div class="action">
          <button class="btn1">Find out more</button>
        </div>
      </div>
    </div>
  </section>
</footer>
