.hero-section{
  background: #f2f2f2;
  width: 100%;
  height: 400px;
}

.avatar{
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.image{
  padding-top: 50px;
  width: 400px;
  height: 400px;
}

.image img{
  border: 16px solid white;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
