///* You can add global styles to this file, and also import other style files */
body{
  font-family: Roboto, "sans-serif";
  // margin: 0;
}
// Reset
  * {
    margin: 0;
    // box-sizing: border-box;
  }

  :root{
    --main-red: #d32a3f;
    --main-dark-gray: #242122;
    --main-light-gray: #827a7c;
    --services-color: #5d5d5d;
    --services-action-warning: #d42b48;
    --services-action-warning-hover: #eb365e;
    --services-action-black: #252122;
    --services-action-black-hover: #353132;
  }
