.flex-container{
  padding-top: 50px;
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.section-one{
  display: flex;
  flex-direction: column;
  line-height: 80px;
  font-size: 72px;
  font-weight: 300;
  gap: 60px
}

.section-one span{
  font-weight: 700;
}

.section-two{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.images{
  //margin-top: 50px;
}

a {
  text-decoration: none;
  border-style: none none solid;
  color: black;
}

.images a{
  border-style: none none solid;
  border-width: 1px;
}

.button{
  width: 180px;
  text-transform: uppercase;
  border: 1px solid black;
  padding: 10px 45px;
  cursor: pointer;
}

.button:hover{
  border: 1px solid transparent;
}
